<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details for Scenario {{scenario}}</title>
</head>
<body>


<h1> Details for Scenario {{ scenario }}</h1>
<!--    Number of games: {{ statistics.numGames}} <br/>-->
<!--    Average game duration: {{ statistics.averageGameDuration }} <br/>-->
<!--    Fraction of successful games: {{ statistics.fractionSuccessfulGames }} <br/>-->
<!--    Fraction of players making a mistake: {{ statistics.fractionMistakes }} <br/>-->
<!--    Average number of mistakes: {{ statistics.averageNumMistakes }} <br/>-->
<!--    Average number of blocks placed {{statistics.averageNumBlocksPlaced }} <br/>-->
<!--    Average number of blocks destroyed {{ statistics.averageNumBlocksDestroyed}} <br/>-->

<table>
    <tbody>
        <tr>
            <td>Number of games</td>
            <td>{{ statistics.numGames }}</td>
        </tr>
        <tr>
            <td>Average game duration </td>
            <td> {{ statistics.averageGameDuration }}</td>
        </tr>
        <tr>
            <td>Fraction of successful games</td>
            <td> {{ statistics.fractionSuccessfulGames }}</td>
        </tr>
        <tr>
            <td>Fraction of players making a mistake</td>
            <td> {{ statistics.fractionMistakes }}</td>
        </tr>
        <tr>
            <td>Average number of mistakes</td>
            <td> {{ statistics.averageNumMistakes}}</td>
        </tr>
        <tr>
            <td>Average number of blocks placed</td>
            <td> {{ statistics.averageNumBlocksPlaced }}</td>
        </tr>
        <tr>
            <td>Average number of blocks destroyed</td>
            <td> {{ statistics.averageNumBlocksDestroyed }}</td>
        </tr>
    </tbody>
</table>


<h3> Average Duration per Instruction</h3>
TODO

<h3> Distribution of Mistakes </h3>
<table>
    <thead>
        <tr>
            <td>Number of mistakes</td>
            <td> Players</td>
        </tr>
    </thead>
    <tbody>
    <!--    TODO: sort-->
    {% for key, value in statistics.mistakeDistribution %}
        <tr>
            <td> {{ key }} </td>
            <td> {{ value }} </td>
        </tr>
    {% end %}
    </tbody>
</table>

<h3>Likert Questionnaire Responses</h3>
<table>
    <thead>
    <tr>
        <td>Question</td>
        <td> Mean </td>
        <td> Standard Deviation </td>
        <td> Median </td>
        <td> Minimum </td>
        <td> Maximum </td>
    </tr>
    </thead>
    <tbody>
    {% for answer in statistics.answerDistribution %}
    <tr>
        <td> {{ answer.question }}</td>
        <td> {{ answer.mean }} </td>
        <td> {{ answer.stdDeviation }} </td>
        <td> {{ answer.median }} </td>
        <td> {{ answer.minimum }} </td>
        <td> {{ answer.maximum }} </td>
    </tr>
    {% end %}
    </tbody>
</table>

<h3>Free text Questionnaire Responses </h3>
{% for question, responses in statistics.AllFreeTextResponses %}
    <h4> {{ question }} </h4>
    {% for response in responses %}}
        {{ response }} <br/>
    {% end %}
{% end %}

</body>
</html>