<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics for game {{game.id}}</title>
</head>
<body>

<!--To implement:-->
<!--start time: ok -->
<!--end time: ok -->
<!--game duration: ok -->
<!--game successful or not? ok -->
<!--duration per instruction-->
<!--number of blocks placed ok -->
<!--number of blocks destroyed ok -->
<!--number of mistakes ok -->


<h1>Details for game {{ game.id }}</h1>
Connection from {{ game.clientIp }}<br/>
Player name: {{ game.playerName }}<br/>
Scenario: {{ info.scenario }}<br/>
Architect: {{ info.architect }} <br/>
Successful: {{ info.wasSuccessful }}

<h3>Times</h3>
Start time: {{ game.startTime }}<br/>
Success time: {% if info.wasSuccessful %} {{ info.SuccessTime }} {% else %} not applicable {% end %} <br/>
End time: {{ info.endTime }}<br/>
Experiment duration: {% if info.wasSuccessful %} {{ info.timeToSuccess }} seconds {% else %} not applicable {% end %}  <br/>
Total time logged in: {{ info.totalTime }} seconds <br/>

<h3>Blocks</h3>
Number of blocks placed: {{ info.numBlocksPlaced }} <br/>
Number of blocks destroyed {{ info.numBlocksDestroyed }}<br/>
Number of mistakes {{ info.numMistakes }} <br/>

<br/>

<!--<h1>Wrongly placed blocks</h1>-->
<!--<table border="0">-->
<!--    {% for row in mistakes %}-->
<!--    <tr>-->
<!--        <td width="20%">{{ row.timestamp }}</td>-->
<!--        <td>{{ row.question }}</td>-->
<!--        <td>{{ row.answer }}</td>-->
<!--    </tr>-->
<!--    {% end %}-->
<!--</table>-->

<!--<h1>Duration per Instruction</h1>-->
<!--<table border="0">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Start time</th>-->
<!--        <th>Instruction text</th>-->
<!--        <th>Instruction execution</th>-->
<!--        <th>Duration in ms</th>-->
<!--        <th>Successful</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--        {% for row in instructions %}-->
<!--        <tr>-->
<!--        <td width="20%">{{ row.startTime }}</td>-->
<!--        <td>{{ row.text }}</td>-->
<!--        <td> {{ row.reaction }} </td>-->
<!--        <td>{{ row.duration }}</td>-->
<!--        <td>{{ row.successful }}</td>-->
<!--        </tr>-->
<!--        {% end %}-->
<!--    </tbody>-->
<!--</table>-->

</body>
</html>